.new img {
  position: flex;
  margin-top: -6%;
  width: 45vw;
  height: 55vw;
  margin-left: 27%;
}

.new p {
  position: flex;
  margin-top: -3.2vw;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 0.8vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
  margin-left: 34%;
}

.new a {
  text-decoration: none;
  color: white;
}

.new a:hover {
  color: red;
}
