.cover img {
  margin-top: 3%;
  background-size: cover;
  width: 55vw;
  height: 47vw;
}

.text {
  position: absolute;
  top: 27%;
  left: 35%;
  font-size: 2.2vw;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
}

.submit_input {
  position: absolute;
  top: 420%;
  left: 35%;
  padding: 1vw;
  font-size: 1.3vw;
  text-transform: uppercase;
  background-color: crimson;
  border: none;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.1vw;
}

.submit_input:hover {
  background-color: red;
}
